<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <!-- 加载Vue库 -->
    <script src="js/vue.global.js"></script>
    <!-- <script src="https://unpkg.com/vue-i18n@9"></script> -->
    <link href="css/bootstrap.css" rel="stylesheet">
    </link>
    <title>SuperSpider</title>
</head>
<style>
    .img-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }

    .img-container img {
        /*max-width: 50%;*/
        height: 75px;
        margin-top: 10px;
        margin-bottom: 10px; /* 可根据需要调整图片之间的间距 */
    }
</style>
<body>
<div id="app">
    <!-- 显示选择语言的界面 -->
    <!-- 通过vue中的init变量来控制是否显示 -->
    <div style="padding: 10px; text-align: center;vertical-align: middle;" v-if="init">
        <h5 style="margin-top: 20px">选择语言/Select Language</h5>
        <p><a @click="changeLang('zh')" class="btn btn-outline-primary btn-lg"
              style="margin-top: 15px; width: 300px;height:60px;padding-top:12px;">中文</a></p>
        <!-- <p><a @click="changeLang('en')" class="btn btn-outline-primary btn-lg" -->
        <!--       style="margin-top: 15px; width: 300px;height:60px;padding-top:12px;">English</a></p> -->
        <p style="font-size: 17px">当前版本/Current Version: v0.3.3</p>
        <p style="font-size: 17px"><a href="https://github.com/NaiboWang/EasySpider/releases" target="_blank">Github</a>最新版本/Newest Version：<b>{{newest_version}}</b></p>
        <div class="img-container">
        </div>
    </div>
    <!-- 如果init变量为false时，即初始页面被关闭，则显示如下页面 -->
    <div style="padding: 10px; text-align: center;vertical-align: middle;" v-else>
        <div v-if="lang=='zh'">
            <!-- 第0步 -->
            <div v-if="step == 0">
                <p style="margin-top: 20px">提示：点击下方按钮开始使用。</p>
                <!-- 点击设计后，将step置为1 -->
                <p><a @click="step = 1" class="btn btn-primary btn-lg"
                      style="margin-top: 15px; width: 300px;height:60px;padding-top:12px;color:white">设计任务</a></p>
                <!-- 如果点击的是查看任务等，则调用startInvoke()函数  -->
                <p><a @click="startInvoke('zh')"
                      @click class="btn btn-primary btn-lg"
                      style="margin-top: 15px; width: 300px;height:60px;padding-top:12px;color:white">查看/管理/执行任务</a>
                </p>
                <div class="img-container">
                </div>
            </div>
            <!-- 第1步 -->
            <div v-else-if="step == 1">
                <h4 style="margin-top: 20px">请选择设计模式</h4>
                <p style="margin-top: 20px; text-align: left; width:310px; margin-left: 18%">
                    纯净版浏览器：无任何用户信息的浏览器。</p>
                <p style="text-align: left; width:310px; margin-left: 18%">
                    带用户信息的浏览器：保存有用户数据，如网站的登录信息，cookie的浏览器。</p>
                <!-- 点击使用纯净版设计后，调用startDesign()函数 -->
                <p><a @click="startDesign('zh')"
                      class="btn btn-primary btn-lg"
                      style="margin-top: 15px; width: 300px;height:60px;padding-top:12px;color:white">使用纯净版浏览器设计</a>
                </p>
                <!-- 点击使用带用户信息的浏览器设计后，将step置为2 -->
                <p><a @click="step = 2" class="btn btn-primary btn-lg"
                      style="margin-top: 15px; width: 300px;height:60px;padding-top:12px;color:white">使用带用户信息浏览器设计</a>
                </p>
                <p>
                    <a @click="step = 0" class="btn btn-outline-primary btn-lg"style="margin-top: 10px; width: 300px;height:45px;padding-top:5px">返回首页</a>
                </p>
            </div>
            <!-- 第2步 -->
            <div v-else-if="step == 2">
                <h4 style="margin-top: 20px">指定用户信息目录</h4>
                <div style="margin: 0 auto; width:90%">
                    <p style="margin-top: 20px; text-align: left">
                        请在下方指定用户信息目录。设置后，浏览器将加载目录里的cookie，如用户的登录信息等内容，目录不变的情况下，每次设计和执行时浏览器都会加载此目录里的数据。</p>
                    <p style="margin-top: 10px; text-align: left">例如：设置了./user_data文件夹，并在设计过程中登录了知乎网站，则下次再次设计或者执行任务时指定./user_data文件夹，打开知乎网站页面会仍然保留之前的登录状态。</p>
                    <p style="margin-top: 10px; text-align: left">如果有多套配置，可以设置不同的目录，每个目录为一套，如果目录不存在将会被自动创建。</p>
                    <p><textarea class="form-control" style="min-height: 50px;"
                                 v-model="user_data_folder"></textarea>
                    </p>
                </div>
                <p><a @click="startDesign('zh', true)"
                      class="btn btn-primary btn-lg"
                      style="margin-top: 15px; width: 300px;height:60px;padding-top:12px;color:white">开始设计</a></p>
                <p>
                    <a @click="step = 0" class="btn btn-outline-primary btn-lg"style="margin-top: 10px; width: 300px;height:45px;padding-top:5px">返回首页</a>
                </p>
            </div>
        </div>
    </div>
</div>

<script type="module" src="index.js"></script>
</body>
</html>
